/out/
/.idea/
/Homework_4/target/
/Allure/.allure/
/Allure/target/
/Gradle/build/
/Gradle/.gradle/
/Petstore_RestAssured/target/
/Petstore_RestAssured/.allure/
/Selenium/.allure/
/Selenium/target/
/Selenium/allure-results/
/Selenium/allure-results/
